<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Caramelized Onion and Tomato Pasta</title>
  </head>
  <body>
    <h1>Caramelized Onion and Tomato Pasta</h1>
    <img src="oniontomatopasta.png" alt="Caramelized Onion and Tomato Pasta" />
    <h2>Recipe</h2>
    <h3>Preparation Time</h3>
    <p>30 minutes</p>
    <h3>Ingredients</h3>
    <p>
      <ul>
      <li>1/4 cup butter, cubed</li>
      <li>2 large sweet onions, thinly sliced</li>
      <li>1/4 teaspoon crushed red pepper flakes</li>
      <li>1/8 teaspoon salt</li>
      <li>8 garlic cloves, minced</li>
      <li>2 cups grape tomatoes, halved</li>
      <li>1/4 cup balsamic vinegar</li>
      <li>1/4 cup olive oil</li>
      <li>16 ounces uncooked angel hair pasta</li>
      <li>6 bacon strips, cooked and crumbed</li>
      <li>2/3 cup shredded parmesan cheese</li>
      <li>1/2 teaspoon coarsely ground pepper</li>
      <li>A few fresh basil leaves</li>
      </ul>
    </p>
    <h3>Directions</h3>
    <p>
      <ol>
        <li>In a large skillet over medium-high heat, melt butter. Add the onions, pepper flakes and salt; saute until onions are tender.</li>
        <li>Stir in garlic. Reduce heat to medium-low; cook, stirring occasionally, for 30-40 minutes or until onions are deep golden brown.</li>
        <li>Turn down heat. Add the tomatoes, vinegar and 2 tablespoons oil to the skillet.</li>
        <li>Cook pasta according to package directions. Drain pasta; toss with onion tomato mixture.</li>
        <li>Drizzle with remaining olive oil. Sprinkle with bacon, cheese, and pepper; heat through. Garnish with basil if desired.</li>
      </ol>
    </p>
    <h3>
      <a href="./">Back to Noodle Recipes Homepage</a>
    </h3>
  </body>
</html>
