<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Shredded Chicken Noodles</title>
</head>
<body>
  <h1>Shredded Chicken Noodles</h1>
  <img src ="shreddedchickennoodles.png">
  <h2>Recipe</h2>
  <h3>Preparation Time</h3>
  <p>30 minutes</p>
  <h3>Ingredients</h3>
  <p>
    <ul>
      <li>320g egg noodles</li>
      <li>12 dried shiitake mushrooms, soaked overnight</li>
      <li>150ml reserved liquid from soaking mushrooms</li>
      <li>1 whole chicken breast</li>
      <li>handful of leafy vegetables</li>
      <li>3 tablespoon concentrated chicken stock</li>
      <li>500ml water</li>
      <li>1 tablespoon light soy sauce</li>
      <li>1 tablespoon oyster sauce</li>
      <li>1 teaspoon chinese cooking wine</li>
      <li>1 teaspoon sugar</li>
      <li>1 tablespoon cornflour dissolved in 3 tablespoon water</li>
      <li>1/2 teaspoon dark soy sauce</li>
    </ul>
  </p>
  <h3>Directions</h3>
  <p>
    <ol>
      <li>Cut an “X” with a knife on the surface of each mushroom, remove stems and set aside.'</li>
      <li>Mix the chicken stock to the water and bring it to a boil, then add chicken and cook for 10 minutes. Remove chicken, cool and set aside.</li>
      <li>In the same pot, add the mushrooms, reserved mushroom liquid, light soy sauce, oyster sauce, cooking wine, sugar, dark soy sauce and simmer for 5 minutes. Add the cornflour solution and continue to simmer.</li>
      <li>The chicken should be cool enough to handle by now. Shred and set aside. Let the mushrooms continue to cook in the sauce which should now be thickened.</li>
      <li>Prepare the noodles. Place one portion in a sieve and dunk in boiling water for 20 seconds. Quickly remove and run under tap water. Return to pot and cook for another 30 seconds. Be sure to keep twirling the noodles with chopsticks to keep things going. At the same time, cook the vegetables in the same pot.</li>
      <li>Drain the noodles on a plate and arrange the vegetables, shredded chicken and mushrooms neatly before ladling the sauce over. Serve immediately.</li>
    </ol>
  </p>
  <h3>
    <a href="./">Back to Noodle Recipes Homepage</a>
  </h3>
</body>
</html>