<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stir Fried Chicken Noodles</title>
</head>
<body>
  <h1>Stir Fried Chicken Noodles</h1>
  <img src ="stirfriedchickennoodles.png">
  <h2>Recipe</h2>
  <h3>Preparation Time</h3>
  <p>35 minutes</p>
  <h3>Ingredients</h3>
  <p>
    <ul>
      <li>1 tablespoon vegetable oil</li>
      <li>1 tablespoon sesame oil</li>
      <li>2 garlic cloves, minced</li>
      <li>3 tablespoons light soy sauce</li>
      <li>1 tablespoon sweet soy sauce</li>
      <li>250g chicken breast, sliced</li>
      <li>2 tablespoons cubed tofu</li>
      <li>2 tablespoons carrot, thinly sliced</li>
      <li>1 small sliced onion</li>
      <li>1 cup beansprouts</li>
      <li>2 tablespoons red peppers, thinly sliced</li>
      <li>200g boiled egg noodles</li>
    </ul>
  </p>
  <h3>Directions</h3>
  <p>
    <ol>
      <li>Cook egg noodles as per directions on packet. Add sesame oil to cooked noodles, toss well and set aside.</li>
      <li>Heat vegetable oil in a deep frying pan over high heat. Add in onions and garlic, sauté for one minute or until onions are golden brown.</li>
      <li>Add chicken to the frying pan and sauté for three minutes.</li>
      <li>Add carrot, red bell pepper and light soy sauce. Sauté for one minute.</li>
      <li>Add cooked egg noodles and sweet soy sauce. Mix well for one or two minutes.</li>
      <li>Turn off heat and serve.</li>
    </ol>
  </p>
  <h3>
    <a href="./">Back to Noodle Recipes Homepage</a>
  </h3>
</body>
</html>