<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Vegan Recipes</title>
  </head>
  <body>
    <style>
      body {
        text-align: center;
      }
    </style>

    <div class="container-fluid" id="navbar">
      <ul class="nav nav-tabs nav-fill">
        <style>
          #navbar {
            padding: 0px 0px 0px 0px;
          }
        </style>
        <li class="nav-item">
          <a class="nav-link active" href="./">Home Page</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="./chickennoodlespage.html"
            role="button"
            aria-expanded="false"
            >Chicken Noodle Recipes</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./shreddedchickennoodles.html"
              >Shredded Chicken Noodles</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="./stirfriedchickennoodles.html"
              >Stir Fried Chicken Noodles</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="./onionnoodlespage.html"
            role="button"
            aria-expanded="false"
            >Onion Noodle Recipes</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./oniontomatopasta.html"
              >Onion Tomato Pasta</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="./carrotonionnoodles.html"
              >Carrot Onion Noodles</a
            >
          </div>
        </li>
      </ul>
    </div>

    <div class="container-fluid" id="main-header">
      <div class="row">
        <div class="col-sm">
          <h2>Vegan Recipes</h2>
        </div>
      </div>
    </div>

    <div class="col-sm" id="by-recipes">
      <h3>
        <a href="oniontomatopasta.html">Onion Tomato Pasta</a>
      </h3>
      <h3>
        <a href="carrotonionnoodles.html">Carrot Onion Noodles</a>
      </h3>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
